$mainColor: rgba(248, 247, 240, 1);
$secondaryColor: rgba(238, 192, 68, 1);
$tertiaryColor: rgba(75, 175, 71, 1);
$darkColor: rgba(31, 30, 23, 1);
$greyColor: rgba(135, 134, 128, 1);

.GreenFont {
	font-size: 20px;
}

.hero {
	height: 326px;
	background-image: url("/about_images/hero_about.png");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.hero_main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;

		.hero_about_main_caption {
			display: flex;
			gap: 9.5px;

			.hero_about_caption {
				font-size: 14px;
				line-height: 26.3px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.7);
			}
		}
		.hero_about_header {
			font-size: 50px;
			line-height: 60px;
			font-weight: 900;
			color: white;
		}
	}
}

main {
	margin-top: 120px;
	margin-bottom: 120px;

	.agr_market {
		display: flex;
		align-items: center;
		gap: 135px;

		.images {
			position: relative;

			:nth-child(1) {
				position: absolute;
				top: 221px;
				left: -45px;

				width: 100px;
				height: 100px;
				background-color: rgba(197, 206, 56, 1);
				border-radius: 10px;

				z-index: -1;
			}

			:nth-child(2) {
				position: absolute;
				top: 280px;
				left: -105px;

				color: $tertiaryColor;
				border-radius: 10px;
				width: 290px;
				height: 321px;
			}

			:nth-child(3) {
				border-radius: 10px;
				width: 405px;
				height: 601px;
			}
		}

		.section_side_panel {
			.checkedmarks {
				display: flex;
				flex-direction: column;

				.checkedmark {
					display: flex;
					align-items: center;
					gap: 15px;
					font-size: 18px;
					font-weight: 900;
					line-height: 36px;

					img {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}
}
