@import "common_style.scss";

.GreenFont {
	font-size: 20px;
}

.hero {
	position: relative;
	top: -20.5px;
	z-index: -1;
	height: 326px;
	background-image: url("/about_images/hero_about.png");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.hero_main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;

		.hero_about_main_caption {
			display: flex;
			gap: 9.5px;

			.hero_about_caption {
				font-size: 14px;
				line-height: 26.3px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.7);
			}
		}
		.hero_about_header {
			font-size: 50px;
			line-height: 60px;
			font-weight: 900;
			color: white;
		}
	}
}

main {
	margin-top: 120px;
	margin-bottom: 120px;

	.agr_market {
		display: flex;
		align-items: center;
		margin-bottom: 120px;
		gap: 135px;

		.images {
			position: relative;

			:nth-child(1) {
				position: absolute;
				top: 221px;
				left: -45px;

				width: 100px;
				height: 100px;
				background-color: rgba(197, 206, 56, 1);
				border-radius: 10px;

				z-index: -1;
			}

			:nth-child(2) {
				position: absolute;
				top: 280px;
				left: -105px;

				color: $tertiaryColor;
				border-radius: 10px;
				width: 290px;
				height: 321px;
			}

			:nth-child(3) {
				border-radius: 10px;
				width: 405px;
				height: 601px;
			}
		}

		.section_side_panel {
			.checkedmarks {
				display: flex;
				flex-direction: column;

				.checkedmark {
					display: flex;
					align-items: center;
					gap: 15px;
					font-size: 18px;
					font-weight: 900;
					line-height: 36px;

					img {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}

	.section_explanation_about {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: calc(100% - 15px);
		height: 800px;
		background-image: url(/images/section1.png);

		.play {
			margin-top: 170px;
		}

		.MR1_heading1 {
			margin-top: 95px;
			justify-content: center;
			text-align: center;
		}

		.section_explanation_about_article {
			margin-top: 107.5px;
			background-color: $darkColor;
			width: 100%;
			height: 185px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 127.5px;
		}
	}

	.testimonials_about {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50.2px;
		width: calc(100% - 15px);
		height: 661.5px;
		margin-bottom: 113px;
		background-image: url("/images/testimonials_about.png");

		.testimonials_about_header {
			margin-top: 113px;
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		.testimonials_about_cards {
			display: flex;
			gap: 100px;

			.testimonials_about_card {
				background-color: white;
				width: 500px;
				height: 285px;
				position: relative;

				.testimonials_about_card_image {
					position: absolute;
					width: 140px;
					height: 183px;
					top: 51px;
					left: -70px;

					.sircley {
						position: absolute;
						top: 65.5px;
						left: 115px;
						width: 50px;
						height: 50px;
						border-radius: 100%;
						background-color: $tertiaryColor;
					}
				}

				.testimonials_about_card_maininfo {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					gap: 6px;
					margin-top: 38px;
					margin-right: 51px;

					.testimonials_about_card_maininfo_name {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
					}
				}
			}
		}
	}

	.farmers {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50.2px;

		.farmers_header {
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		.farmers_cards {
			display: flex;
			gap: 30px;

			.farmers_card {
				position: relative;
				width: 370px;
				height: 440px;

				.farmer_card_info {
					position: absolute;
					box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.1);
					bottom: 0px;
					right: 0px;
					width: 245px;
					height: 90px;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;

					box-sizing: border-box;
					padding-top: 23px;
					padding-right: 61px;

					display: flex;
					flex-direction: column;
					align-items: flex-end;

					background-color: white;

					.share_farmer {
						position: absolute;
						left: -25px;
						width: 50px;
						height: 50px;
						background-color: $tertiaryColor;
						border-radius: 10px;

						img {
							margin: 4.44px 3.56px 2.69px 3.56px;
							width: 42.87px;
							height: 42.87px;
						}
					}
				}
			}
		}
	}
}
