@import "common_style.scss";

.hero {
	position: relative;
	top: -20.5px;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("/images/item1.png");

	.hero_main {
		max-width: fit-content;
		margin-top: 5%;
		margin-bottom: 4.47%;
		margin-left: 19.53%;

		h1 {
			font-family: $coverBYGTextFamily;
			font-weight: 400;
			font-size: 120px;
			line-height: 110px;
			color: white;
			margin-bottom: 26px;

			span {
				font-family: $coverBYGTextFamily;
				color: $secondaryColor;
			}

			img {
				position: relative;
				right: 75px;
				bottom: 38px;
			}
		}

		h2 {
			display: block;
			font-size: 16px;
			margin-bottom: 18px;
			font-weight: 600;
			line-height: 30px;
			color: white;
		}

		h3 {
			display: block;
			margin-bottom: 45px;
			font-size: 16px;
			line-height: 26px;
			font-weight: 600;
			color: white;
			opacity: 60%;
		}

		.discover_more {
			display: flex;
			gap: 20px;

			img {
				width: 115px;
				height: 53px;
			}
		}
	}
}

@media screen and (max-width: 1220px) {
	.header {
		.contacts {
			display: none;
		}
	}

	.hero_main {
		h1 {
			font-family: $coverBYGTextFamily;
			font-weight: 400;
			font-size: 84px;
			line-height: 110px;
			color: white;
			margin-bottom: 26px;

			span {
				font-family: $coverBYGTextFamily;
				color: $secondaryColor;
			}

			img {
				position: relative;
				right: 75px;
				bottom: 38px;
			}
		}

		h2 {
			font-size: 16px;
			margin-bottom: 18px;
			font-weight: 600;
			line-height: 30px;
			color: white;
		}

		h3 {
			margin-bottom: 45px;
			font-size: 16px;
			line-height: 26px;
			font-weight: 600;
			color: white;
			opacity: 60%;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

	.play {
		width: 100px;
		height: 100px;
		background-color: white;
		border-radius: 100%;
		margin-top: 93px;
		margin-right: 65px;

		display: flex;
		align-items: center;

		img {
			margin-left: 38px;
			width: 30px;
			height: 30px;
		}
	}

	.features {
		display: flex;
		justify-self: center;
		justify-content: center;
		gap: 30px;
		flex-wrap: wrap;
		position: relative;
		top: -64px;

		.feature {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			background-color: white;
			box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
			font-size: 24px;
			text-align: center;
			padding-top: 48px;
			padding-bottom: 13.5px;
			gap: 29px;
			width: 370px;

			img {
				width: 90px;
				height: 90px;
			}
		}
	}

	.introduction {
		display: flex;
		justify-content: center;
		gap: 35px;
		margin-top: 46px;

		.intr_images {
			width: 600px;
			height: 642px;

			#intr1 {
				width: 550px;
				height: 550px;
				border-radius: 275px;
			}

			#intr2 {
				position: relative;
				right: 80px;
				bottom: 175px;
				width: 280px;
				height: 270px;
				border: 10px solid white;
				border-radius: 140px;
			}
		}

		.section_side_panel {
			.intr_hero {
				display: flex;
				gap: 45px;

				.intr_hero_descr {
					display: flex;
					gap: 24px;
					align-items: center;
				}
			}

			.checkedmarks {
				display: flex;
				flex-direction: column;
				gap: 14px;

				.checkedmark {
					display: flex;
					align-items: center;
					gap: 16px;
					font-size: 16px;
					font-weight: 600;

					img {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}

	.services {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 129px;
		width: 100%;

		.services_bg {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 406px;
			background-color: $mainColor;
			margin-right: 15px;

			.services_header {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 113px;
			}
		}

		.service_cards {
			position: relative;
			top: -158px;
			width: 270px;
			height: 430px;
			display: flex;
			justify-content: center;
			gap: 30px;

			.service_card {
				.service_card_header_bg {
					position: relative;
					top: -327px;
					justify-self: center;
					z-index: 2;
					width: 70px;
					height: 70px;
					border-radius: 7px;
					background-color: rgba(197, 206, 56, 1);

					img {
						width: 50px;
						height: 50px;
						margin: 10px 10px;
					}
				}

				.service_card_header {
					position: relative;
					top: -164px;
					justify-self: center;
					background-color: white;
					border-radius: 10px;
					width: 220px;
					height: 79px;
					text-align: center;
					padding-top: 49px;
				}
			}
		}
	}

	.section_explanation {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 15px);
		margin-right: 7.5px;
		margin-left: 7.5px;
		background-image: url(/images/section1.png);

		.section_explanation_article {
			position: relative;
			top: -54px;
			background-color: $tertiaryColor;
			width: 1170px;
			height: 185px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			padding: 0px 48px;
			border-radius: 10px;

			span {
				font-size: 18px;
				color: white;
				font-weight: 500;
			}
		}

		.section_explanation_main {
			width: 1170px;
			margin-top: 51px;
			margin-bottom: 120px;

			display: flex;
			justify-content: space-between;

			.play {
				margin-top: 93px;
				margin-right: 65px;
			}
		}
	}

	.projects {
		margin-top: 113px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;

		.projects_header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.projects_cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 10px;

			.project_card {
				display: flex;
				flex-direction: column;
				span {
					position: relative;
					top: -124px;
					left: 53px;
				}
			}
		}
	}

	.testimonials {
		display: flex;
		justify-content: center;
		gap: 70px;

		background-color: $mainColor;
		margin-top: 38px;
		width: calc(100% - 15px);
		height: 695px;

		.section_side_panel {
			margin-top: 106px;

			.MR_caption2 {
				margin-top: -6px;
				margin-bottom: 7px;
			}
		}

		.testimonials_card {
			margin-top: 113px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 45px;
			background-color: white;
			border-radius: 10px;
			width: 770px;
			height: 254px;

			.testimonials_card_main_info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 23px;

				span {
					font-weight: 800;
					font-size: 24px;
				}

				.stars {
					display: flex;
					align-items: center;
					gap: 3.21px;

					img {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}

	.benefits {
		margin-top: 120px;
		display: flex;
		gap: 85px;

		img {
			width: 700px;
			height: 733px;
		}

		.section_side_panel {
			justify-content: space-evenly;

			span {
				margin-top: -4px;
			}
		}

		.worms {
			display: flex;
			flex-direction: column;
			gap: 23px;

			.section_side_panel_worm {
				display: flex;
				align-items: flex-start;
				gap: 25px;

				img {
					width: 40px;
					height: 40px;
					margin-top: 7px;
				}

				.section_side_panel_worm_main {
					display: flex;
					flex-direction: column;
					gap: 4.5px;
				}
			}
		}
	}

	.news {
		margin-top: 113px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.news_cards {
			display: flex;
			justify-content: center;
			margin-top: 50px;
			gap: 30px;

			.news_card {
				.news_card_main {
					width: 100%;
					background-color: white;
					height: 214px;
					position: relative;
					top: -214px;
					box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
					border-top-style: none;
					text-align: center;

					.news_card_date {
						position: relative;
						top: -20px;
						justify-self: center;
						background-color: $tertiaryColor;
						width: max-content;
						padding: 0px 25px;
						line-height: 40px;
						border-radius: 10px;
						font-size: 14px;
						color: white;
						font-weight: 700;
					}

					.author_comments {
						justify-self: center;
						display: flex;
						gap: 15px;
						margin-bottom: 10px;

						.author_comments_info {
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}
	}
}